[Unit]
Description=Synergy Server

[Service]
ExecStart=/usr/bin/synergys -d INFO -f
Restart=always
RestartSec=1s
StartLimitInterval=0

[Install]
WantedBy=default.target
