[Unit]
Description=Cloud backup
OnFailure=notify-failed@%n.service

[Service]
ExecStart=/usr/local/bin/cloud-backup
Restart=on-failure

[Install]
WantedBy=default.target
