[Unit]
Description=Cloud backup
#OnFailure=notify-failed@%n.service

[Service]
ExecStart=/home/enzime/bin/cloud-backup
Restart=on-failure

[Install]
WantedBy=default.target
